
.bg-blur {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00Mi0zNjAtYWUtc29jaWFsbWVkaWEtMDEuanBn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: right; */
  filter: blur(1px);
  z-index: -1;
}


.fontFam{
  font-family: ' Times New Roman, Times, serif';

}
#main2{
  background-color: #f0f7fd;
}

.table-animate tbody tr {
  opacity: 0;
  animation: fadeIn 2s forwards;
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Add this to your styles.css or within a <style> tag */
@keyframes typewriter {
  to {
    opacity: 1;
  }
}

.typewriter p {
  opacity: 0;
  animation: fadeIn 4s forwards;
}

/* Navbar.css */
.nav-link {
  transition: filter 0.3s ease; 
}

.nav-link:hover {
  filter: blur(1px); 
}


